.headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    z-index: 50;
}

/* Активные элементы внтури шапки */
#activeElements {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
}

#mode {
   padding: 0px 10px;
   margin: 0px 8px 0px 0px;
}

#cityValue {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
/* карточка с городами */ 
.cityListDiv {
    width: 30%;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    height: 0px;
    z-index: 5;
    opacity: 0;
    position:absolute;
    top: -350px;
    transition: ease 300ms;
    background-color: white;
    right:0px;
    box-shadow: 0 2px 3px 0 rgb(238, 238, 238);
    border-radius: 5px; 
}

.arrCity {
   height: 8px;
   width: 15px;
   display: block;
   position: relative;
   margin: 0px 5px 0px 0px;
}
.arrCity:after, .arrCity:before {
   content: '';  
   height: 2px; 
   position: absolute;
   width: 50%;
   border-color: black;
   background-color: black;
   border-radius: 1px;
}

.arrCity:before {
    transform: rotate(-30deg);
    left: 4px;
    top: 3px;
    transition: 300ms ease;
}

.arrCity:after {
    transform: rotate(30deg);
    top: 3px;
    transition: 300ms ease;
}

.arrCity.active:before {
    transform: rotate(30deg);
    left: 4px;
    top: 3px;
    transition: 300ms ease;
}
.arrCity.active:after {
    transform: rotate(-30deg);
    top: 3px;
    transition: 300ms ease;
}

.activated {
    height: auto;
    opacity: 1;
    background-color: rgb(255, 255, 255);
    top: 60px;
    transition-property: opacity, height, top;
    transition-duration: 300ms, 300ms, 300ms;
    transition-delay: 0ms, 0ms, 200ms;
    z-index: 5;
    

}

.cityP {
    height: 40px;
    margin: 0px;
    transition: 300ms ease;
    opacity: 1;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    
}

.cityP:hover {
    background-color: tomato;
    transition: 300ms ease;

}




@media (max-width: 770px) {
    
    .activated {
        width: 100%;
        height: auto;
        opacity: 1;
        background-color: rgb(255, 255, 255);
        top: 60px;
        transition-property: opacity, height, top;
        transition-duration: 300ms, 300ms, 300ms;
        transition-delay: 0ms, 0ms, 200ms;
        z-index: 5;
    
    }
    
    .cityListDiv {
        width: 100%;
    }
}