
/* Основная ДИВка для карточек */
#mainDiv {
    width: 1024px; 
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

body {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    flex-wrap: wrap;
}
/* шапка */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 10;

}
/* Дивка для шапки */ 
.headerDiv {
    border-bottom: 4px dotted rgb(240, 240, 240);
    height: 50px;
    width: 1024px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerDiv {
    width: 1024px;
    height: 70px;
    color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px dotted rgb(240, 240, 240);
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    z-index: 10;
    margin-top: 20px;
}
#footerDiv > a {
    text-decoration: none;
    color: rgb(231, 231, 231);
}
    


@media (max-width: 770px) {
    #mainDiv {
        max-width: 90%; 
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    
    }
    .headerDiv {
        max-width: 90%;
    }

    #footerDiv {
        width: 90%;
        height: 50px;
        color: rgb(46, 46, 46);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
        
  }